# Ядро системы в публичный репозиторий не попадает никогда
*.mq5
*.ex5
*.set
*.ex4
*.mq4

# Рабочие данные
*.csv
*.htm
*.html.bak
inputs/
results/
equity/

# Служебное
.DS_Store
*.log

# Служебное питона
__pycache__/
